body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/images/restaurant_banner.jpg");
    min-height: 75%;
    alt: "The Haukai Restaurant Photograph";
} 

.menu {
    display: none;
}

h5 {
    color: brown;
}

.googleform {
    width: 100%;
    height: 520px; 
}

.googledates {
    width: 100%;
    height: 340px; 
}

.googlemaps {
    width: 100%;
    height: 520px;
}